#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  place-items: center;
  flex: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul a.active {
  color: #646cff;
}
